---
import BaseLayout from "../layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import me from '../images/me.jpg';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="header-image-row">
		<Image src={me} alt="A picture of me" class="profile-img" />
		<h1 class="typing-effect" id="greeting"></h1>
	</div>
	<script src="/src/scripts/typing.js" type="module"></script>
</BaseLayout>